.loader {
  position: relative;
  --ripple-size: 80px;
  --ripple-border-size: 4px;
  --ripple-size-no-border: calc(
    var(--ripple-size) - 2 * var(--ripple-border-size)
  );
  --ripple-start-position: calc(var(--ripple-size-no-border) / 2);
}

.loader_overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: var(--ripple-size);
  background-color: var(--bg-color);
  opacity: 0.7;
}

.loader_ripple {
  display: inline-block;
  position: relative;
  width: var(--ripple-size);
  height: var(--ripple-size);
}

.loader_ripple div {
  position: absolute;
  border: var(--ripple-border-size) solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader_ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes ripple {
  0% {
    top: var(--ripple-start-position);
    left: var(--ripple-start-position);
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: var(--ripple-start-position);
    left: var(--ripple-start-position);
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: var(--ripple-start-position);
    left: var(--ripple-start-position);
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: var(--ripple-size-no-border);
    height: var(--ripple-size-no-border);
    opacity: 0;
  }
}
